<!-- <link rel="stylesheet" href="https://api.yogabot.app/css/slider.css"> -->
<style>
   body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#body-slider {
    width: 100%;
    height: 100%;
    position: relative;
}

#body-slider * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#body-slider .wrapper-slider, #body-slider .download-pdf-wrapper {
    padding: 10px;
    max-width: 1280px;
    margin: 0 auto;
    min-width: 0;
    width: 100%;
}

#body-slider .wrapper-slider {
    max-width: 800px;
}

#body-slider .download-pdf-wrapper {
    text-align: center;
    padding: 20px;
}

#body-slider .wrapper-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 16px 0;
    margin: 0;
}

#body-slider .wrapper-timer.flip-clock-wrapper {
    margin: 0;
}

#body-slider .popup {
    position: absolute;
    background: white;
    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 360px;
    width: 100%;
    padding: 16px 32px;
    text-align: center;
}

#body-slider .btn {
    padding: 16px;
    background: #E0684B;
    border-radius: 9px;
    display: inline-block;
    width: 65%;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

#body-slider .sliderNavigation {
    width: 200px;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    display: none;
}

#body-slider .sliderNavigation > .btn {
    display: inline;
}

.wrapper-timer {
    transform: scale(0.5);
}

.select-option select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #E0684B;
    background-image: none;
  }
  .select-option select::-ms-expand {
    display: none;
  }
  .select-option {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #E0684B;
    overflow: hidden;
    border-radius: .25em;
  }
  .select-option select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  .select-option::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #E0684B;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    color: white;
  }
  .select-option:hover::after {
    color: #f39c12;
  }


@media only screen and (max-width: 420px) {
    
    #body-slider .popup {
        width: 80vw;
    }

    #body-slider .btn {
        width: calc(100% - 32px);
    }

    #body-slider {
        font-size: 14px;
    }

    #body-slider .wrapper-timer.flip-clock-wrapper {
        padding: 32px 0;
    }

}
</style>
<link rel="stylesheet" href="https://api.yogabot.app/css/slick.css">
<link rel="stylesheet" href="https://api.yogabot.app/css/flipclock.css">
<div class="select-option">
    <select onchange="onChange()" id="rango">
        <option value="-1">Tiempo práctica menos de 20 minutos</option>
        <option value="0" selected>Tiempo práctica entre 20 y 40 minutos</option>
        <option value="1">Tiempo práctica más de 40 minutos</option>
    </select>
</div>
<div id="body-slider">
    <div class="wrapper-slider"></div>
    <div class="popup"><a id="startSlider" class="btn" href="javascript:startCounter()">Empezar</a></div>
    <div class="wrapper-timer" id="wrapper-timer" endpoint="reducido/"></div>
    <div class="sliderNavigation">
        <a id="pauseSlider" class="btn" href="javascript:pauseSlider()">pausa</a>
        <a class="btn" href="javascript:stopSlider()">reiniciar</a>
    </div>
</div>
<p>&nbsp;</p>
<img src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:1500/https://www.filepicker.io/api/file/yktPoVL3RRSnhw6Y6T9V">
<p>&nbsp;</p>
<div id="embedPDF" width="100%" height="600px"></div>
<script src="https://api.yogabot.app/js/slick.min.js"></script>
<script src="https://api.yogabot.app/js/flipclock.min.js"></script>
<script src="https://api.yogabot.app/js/challenge_sequence.js"></script>