<link rel="stylesheet" href="https://api.yogabot.app/css/updated_styles.css">
<div id="form-body" class="autoHeight">
    <!-- BLOQUE 1 -->
    <div class="wrapper" challengeId="2" asanaId="1">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">ELASTICIDAD PIERNA DERECHA</h4>
                <div class="card">
                    <input type="radio" name="challenge-2-1" id="challenge-2-1-asana-1" value="1" challengeId="2" asanaId="1"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/10_r.png" />
                        </div>
                        <p class="range">Rango 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-1" id="challenge-2-1-asana-2" value="2" challengeId="2" asanaId="1"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/10_2_r.png" />
                        </div>
                        <p class="range">Rango 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-1" id="challenge-2-1-asana-3" value="3" challengeId="2" asanaId="1"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/10_3_r.png" />
                        </div>
                        <p class="range">Rango 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 2 -->
    <div class="wrapper" challengeId="2" asanaId="2">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">ELASTICIDAD PIERNA IZQUIERDA</h4>
                <div class="card">
                    <input type="radio" name="challenge-2-2" id="challenge-2-2-asana-1" value="1" challengeId="2" asanaId="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/10.png" />
                        </div>
                        <p class="range">Rango 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-2" id="challenge-2-2-asana-2" value="2" challengeId="2" asanaId="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/10_2.png" />
                        </div>
                        <p class="range">Rango 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-2" id="challenge-2-2-asana-3" value="3" challengeId="2" asanaId="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/10_3.png" />
                        </div>
                        <p class="range">Rango 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 3 -->
    <div class="wrapper" challengeId="2" asanaId="3">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">TONO PIERNA DERECHA</h4>
                <div class="card">
                    <input type="radio" name="challenge-2-3" id="challenge-2-3-asana-1" value="1" challengeId="2" asanaId="3" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/27.png" />
                        </div>
                        <p class="range">Entre 0 - 50 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-3" id="challenge-2-3-asana-2" value="2" challengeId="2" asanaId="3" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/27.png" />
                        </div>
                        <p class="range">Entre 50 - 100 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-3" id="challenge-2-3-asana-3" value="3" challengeId="2" asanaId="3" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/27.png" />
                        </div>
                        <p class="range">Entre 100 - 150 seg de permanencia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 4 -->
    <div class="wrapper" challengeId="2" asanaId="4">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">TONO PIERNA IZQUIERDA</h4>
                <div class="card">
                    <input type="radio" name="challenge-2-4" id="challenge-2-4-asana-1" value="1" challengeId="2" asanaId="4" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/32.png" />
                        </div>
                        <p class="range">Menos de 50 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-4" id="challenge-2-4-asana-2" value="2" challengeId="2" asanaId="4" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/32.png" />
                        </div>
                        <p class="range">Entre 50 - 100 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-4" id="challenge-2-4-asana-3" value="3" challengeId="2" asanaId="4" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/32.png" />
                        </div>
                        <p class="range">Más de 100 seg de permanencia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 5 -->
    <div class="wrapper" challengeId="2" asanaId="5">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">ELASTICIDAD PIERNA DERECHA</h4>
                <div class="card">
                    <input type="radio" name="challenge-2-5" id="challenge-2-5-asana-1" value="1" challengeId="2" asanaId="5" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/18.png" />
                        </div>
                        <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-5" id="challenge-2-5-asana-2" value="2" challengeId="2" asanaId="5" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/18_2.png" />
                        </div>
                        <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-5" id="challenge-2-5-asana-3" value="3" challengeId="2" asanaId="5" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/18_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 6 -->
    <div class="wrapper" challengeId="2" asanaId="6">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">ELASTICIDAD PIERNA IZQUIERDA</h4>
                <div class="card">
                    <input type="radio" name="challenge-2-6" id="challenge-2-6-asana-1" value="1" challengeId="2" asanaId="6" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/3.png" />
                        </div>
                        <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-6" id="challenge-2-6-asana-2" value="2" challengeId="2" asanaId="6" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/3_2.png" />
                        </div>
                        <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-6" id="challenge-2-6-asana-3" value="3" challengeId="2" asanaId="6" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/3_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 7 -->
    <div class="wrapper" challengeId="2" asanaId="7">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">TONO PIERNA DERECHA</h4>
                <div class="card">
                    <input type="radio" name="challenge-2-7" id="challenge-2-7-asana-1" value="1" challengeId="2" asanaId="7" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/28.png" />
                        </div>
                        <p class="range">Menos de 50 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-7" id="challenge-2-7-asana-2" value="2" challengeId="2" asanaId="7" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/28.png" />
                        </div>
                        <p class="range">Entre 50 - 100 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-7" id="challenge-2-7-asana-3" value="3" challengeId="2" asanaId="7" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/28.png" />
                        </div>
                        <p class="range">Más de 100 seg de permanencia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 8 -->
    <div class="wrapper" challengeId="2" asanaId="8">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">TONO PIERNA IZQUIERDA</h4>
                <div class="card">
                    <input type="radio" name="challenge-2-8" id="challenge-2-8-asana-1" value="1" challengeId="2" asanaId="8" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/31.png" />
                        </div>
                        <p class="range">Menos de 50 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-8" id="challenge-2-8-asana-2" value="2" challengeId="2" asanaId="8" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/31.png" />
                        </div>
                        <p class="range">Entre 50 - 100 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-2-8" id="challenge-2-8-asana-3" value="3" challengeId="2" asanaId="8" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/31.png" />
                        </div>
                        <p class="range">Más de 100 seg de permanencia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://api.yogabot.app/js/main_challenge.js"></script>