<link rel="stylesheet" href="https://api.yogabot.app/css/updated_styles.css">
<div id="form-body" class="autoHeight">
  <!-- BLOQUE 1 -->
  <div class="wrapper" challengeId="5" asanaId="1">
    <div class="section flexible">
        <div class="cards">
            <h4 class="title">TONO AMBOS BRAZOS</h4>
            <div class="card">
                <input type="radio" name="challenge-5-1" id="challenge-5-1-asana-1" value="1" challengeId="5" asanaId="1" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/21.png" />
                    </div>
                    <p class="range">Menos de 20 seg de permanencia</p>
                </div>
            </div>
            <div class="card">
                <input type="radio" name="challenge-5-1" id="challenge-5-1-asana-2" value="2" challengeId="5" asanaId="1" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/21.png" />
                    </div>
                    <p class="range">Entre 20 - 60 seg de permanencia</p>
                </div>
            </div>
            <div class="card">
                <input type="radio" name="challenge-5-1" id="challenge-5-1-asana-3" value="3" challengeId="5" asanaId="1" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/21.png" />
                    </div>
                    <p class="range">Más de 60 seg de permanencia</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BLOQUE 2 -->
<div class="wrapper" challengeId="5" asanaId="2">
    <div class="section flexible">
        <div class="cards">
            <h4 class="title">ELASTICIDAD AMBOS BRAZOS</h4>
            <div class="card">
                <input type="radio" name="challenge-5-2" id="challenge-5-2-asana-1" value="1" challengeId="5" asanaId="2" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/4.png" />
                    </div>
                    <p class="range">RANGO 1</p>
                </div>
            </div>
            <div class="card">
                <input type="radio" name="challenge-5-2" id="challenge-5-2-asana-2" value="2" challengeId="5" asanaId="2" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/4_2.png" />
                    </div>
                    <p class="range">RANGO 2</p>
                </div>
            </div>
            <div class="card">
                <input type="radio" name="challenge-5-2" id="challenge-5-2-asana-3" value="3" challengeId="5" asanaId="2" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/4_3.png" />
                    </div>
                    <p class="range">RANGO 3</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BLOQUE 3 -->
<div class="wrapper" challengeId="5" asanaId="3">
    <div class="section flexible">
        <div class="cards">
            <h4 class="title">ELASTICIDAD BRAZO DERECHO</h4>
            <div class="card">
                <input type="radio" name="challenge-5-3" value="1" id="challenge-5-3-asana-1" challengeId="5" asanaId="3" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/16.png" />
                    </div>
                    <p class="range">RANGO 1</p>
                </div>
            </div>
            <div class="card">
                <input type="radio" name="challenge-5-3" value="2" id="challenge-5-3-asana-2" challengeId="5" asanaId="3" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/16_2.png" />
                    </div>
                    <p class="range">RANGO 2</p>
                </div>
            </div>
            <div class="card">
                <input type="radio" name="challenge-5-3" value="3" id="challenge-5-3-asana-3" challengeId="5" asanaId="3" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/16_3.png" />
                    </div>
                    <p class="range">RANGO 3</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BLOQUE 4 -->
<div class="wrapper" challengeId="5" asanaId="4">
    <div class="section flexible">
        <div class="cards">
            <h4 class="title">ELASTICIDAD BRAZO IZQUIERDO</h4>
            <div class="card">
                <input type="radio" name="challenge-5-4" id="challenge-5-4-asana-1" value="1" challengeId="5" asanaId="4" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/5.png" />
                    </div>
                    <p class="range">RANGO 1</p>
                </div>
            </div>
            <div class="card">
                <input type="radio" name="challenge-5-4" id="challenge-5-4-asana-2" value="2" challengeId="5" asanaId="4" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/5_2.png" />
                    </div>
                    <p class="range">RANGO 2</p>
                </div>
            </div>
            <div class="card">
                <input type="radio" name="challenge-5-4" id="challenge-5-4-asana-3" value="3" challengeId="5" asanaId="4" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/5_3.png" />
                    </div>
                    <p class="range">RANGO 3</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BLOQUE 5 -->
<div class="wrapper" challengeId="5" asanaId="5">
    <div class="section flexible">
        <div class="cards">
            <h4 class="title">TONO BRAZO DERECHO</h4>
            <div class="card">
                <input type="radio" name="challenge-5-5" value="1" id="challenge-5-5-asana-1" challengeId="5" asanaId="5" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/22.png" />
                    </div>
                    <p class="range">Menos de 20 seg de permanencia</p>
                </div>
            </div>
            <div class="card">
                <input type="radio" name="challenge-5-5" value="2" id="challenge-5-5-asana-2" challengeId="5" asanaId="5" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/22.png" />
                    </div>
                    <p class="range">Entre 20 - 60 seg de permanencia</p>
                </div>
            </div>
            <div class="card">
                <input type="radio" name="challenge-5-5" value="3" id="challenge-5-5-asana-3" challengeId="5" asanaId="5" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/22.png" />
                    </div>
                    <p class="range">Más de 60 seg de permanencia</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BLOQUE 6 -->
<div class="wrapper" challengeId="5" asanaId="6">
    <div class="section flexible">
        <div class="cards">
            <h4 class="title">TONO BRAZO IZQUIERDO</h4>
            <div class="card">
                <input type="radio" name="challenge-5-6" id="challenge-5-6-asana-1" value="1" challengeId="5" asanaId="6" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/23.png" />
                    </div>
                    <p class="range">Menos de 20 seg de permanencia</p>
                </div>
            </div>
            <div class="card">
                <input type="radio" name="challenge-5-6" id="challenge-5-6-asana-2" value="2" challengeId="5" asanaId="6" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/23.png" />
                    </div>
                    <p class="range">Entre 20 - 60 seg de permanencia</p>
                </div>
            </div>
            <div class="card">
                <input type="radio" name="challenge-5-6" id="challenge-5-6-asana-3" value="3" challengeId="5" asanaId="6" />
                <div class="card-content">
                    <div class="img-wrapper">
                        <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/23.png" />
                    </div>
                    <p class="range">Más de 60 seg de permanencia</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://api.yogabot.app/js/main_challenge.js"></script>