<link rel="stylesheet" href="https://api.yogabot.app/css/updated_styles.css">
<div id="form-body" class="autoHeight">
    <!-- BLOQUE 1 -->
    <div class="wrapper" challengeId="1" asanaId="1">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">ELASTICIDAD PIERNA DERECHA</h4>
                <div class="card">
                    <input type="radio" name="challenge-1-1" id="challenge-1-1-asana-1" value="1" challengeId="1" asanaId="1" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/1.png" />
                        </div>
                        <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-1" id="challenge-1-1-asana-2" value="2" challengeId="1" asanaId="1" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/1_2.png" />
                        </div>
                        <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-1" id="challenge-1-1-asana-3" value="3" challengeId="1" asanaId="1" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/1_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 2 -->
    <div class="wrapper" challengeId="1" asanaId="2">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">ELASTICIDAD PIERNA IZQUIERDA</h4>
                <div class="card">
                    <input type="radio" name="challenge-1-2" id="challenge-1-2-asana-1" value="1" challengeId="1" asanaId="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/19.png" />
                        </div>
                        <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-2" id="challenge-1-2-asana-2" value="2" challengeId="1" asanaId="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/19_2.png" />
                        </div>
                        <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-2" id="challenge-1-2-asana-3" value="3" challengeId="1" asanaId="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/19_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 3 -->
    <div class="wrapper" challengeId="1" asanaId="3">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">TONO PIERNA DERECHA</h4>
                <div class="card">
                    <input type="radio" name="challenge-1-3" id="challenge-1-3-asana-1" value="1" challengeId="1" asanaId="3"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/24.png" />
                        </div>
                        <p class="range">Menos de 50 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-3" id="challenge-1-3-asana-2" value="2" challengeId="1" asanaId="3"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/24.png" />
                        </div>
                        <p class="range">Entre 50 - 100 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-3" id="challenge-1-3-asana-3" value="3" challengeId="1" asanaId="3"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/24.png" />
                        </div>
                        <p class="range">Más de 100 seg de permanencia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 4 -->
    <div class="wrapper" challengeId="1" asanaId="4">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">TONO PIERNA IZQUIERDA</h4>
                <div class="card">
                    <input type="radio" name="challenge-1-4" id="challenge-1-4-asana-1" value="1" challengeId="1" asanaId="4"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/29.png" />
                        </div>
                        <p class="range">Menos de 50 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-4" id="challenge-1-4-asana-2" value="2" challengeId="1" asanaId="4"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/29.png" />
                        </div>
                        <p class="range">Entre 50 - 100 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-4" id="challenge-1-4-asana-3" value="3" challengeId="1" asanaId="4"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/29.png" />
                        </div>
                        <p class="range">Más de 100 seg de permanencia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 5 -->
    <div class="wrapper" challengeId="1" asanaId="5">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">ELASTICIDAD AMBAS PIERNAS</h4>
                <div class="card">
                    <input type="radio" name="challenge-1-5" id="challenge-1-5-asana-1" value="1" challengeId="1" asanaId="5"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/2.png" />
                        </div>
                        <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-5" id="challenge-1-5-asana-2" value="2" challengeId="1" asanaId="5"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/2_2.png" />
                        </div>
                        <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-5" id="challenge-1-5-asana-3" value="3" challengeId="1" asanaId="5"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/2_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- BLOQUE 6 -->
    <div class="wrapper" challengeId="1" asanaId="6">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">TONO PIERNA IZQUIERDA</h4>
                <div class="card">
                    <input type="radio" name="challenge-1-6" id="challenge-1-6-asana-1" value="1" challengeId="1" asanaId="6"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/30.png" />
                        </div>
                        <p class="range">Menos de 50 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-6" id="challenge-1-6-asana-2" value="2" challengeId="1" asanaId="6"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/30.png" />
                        </div>
                        <p class="range">Entre 50 - 100 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-6" id="challenge-1-6-asana-3" value="3" challengeId="1" asanaId="6"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/30.png" />
                        </div>
                        <p class="range">Más de 100 seg de permanencia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- BLOQUE 7 -->
    <div class="wrapper" challengeId="1" asanaId="7">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">TONO PIERNA DERECHA</h4>
                <div class="card">
                    <input type="radio" name="challenge-1-7" id="challenge-1-7-asana-1" value="1" challengeId="1" asanaId="7"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/26.png" />
                        </div>
                        <p class="range">Menos de 50 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-7" id="challenge-1-7-asana-2" value="2" challengeId="1" asanaId="7"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/26.png" />
                        </div>
                        <p class="range">Entre 50 - 100 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-1-7" id="challenge-1-7-asana-3" value="3" challengeId="1" asanaId="7"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/26.png" />
                        </div>
                        <p class="range">Más de 100 seg de permanencia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://api.yogabot.app/js/main_challenge.js"></script>