
    <link rel="stylesheet" href="https://api.yogabot.app/css/updated_styles.css">
    <div id="form-body" class="autoHeight">
          <!-- BLOQUE 1 -->
    <div class="wrapper" challengeId="6" asanaId="1">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">ELASTICIDAD AMBOS BRAZOS</h4>
                <div class="card">
                    <input type="radio" name="challenge-6-1" value="1" id="challenge-6-1-asana-1" challengeId="6" asanaId="1" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/8.png" />
                        </div>
                        <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-6-1" value="2" id="challenge-6-1-asana-2" challengeId="6" asanaId="1" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/8_2.png" />
                        </div>
                        <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-6-1" value="3" id="challenge-6-1-asana-3" challengeId="6" asanaId="1" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/8_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 2 -->
    <div class="wrapper" challengeId="6" asanaId="2">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">TONO AMBOS BRAZOS</h4>
                <div class="card">
                    <input type="radio" name="challenge-6-2" id="challenge-6-2-asana-1" value="1" challengeId="6" asanaId="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/15.png" />
                        </div>
                        <p class="range">Menos de 20 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-6-2" id="challenge-6-2-asana-2" value="2" challengeId="6" asanaId="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/15.png" />
                        </div>
                        <p class="range">Entre 20 - 60 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-6-2" id="challenge-6-2-asana-3" value="3" challengeId="6" asanaId="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/15.png" />
                        </div>
                        <p class="range">Más de 60 seg de permanencia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 3 -->
    <div class="wrapper" challengeId="6" asanaId="3">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">TONO AMBOS BRAZOS</h4>
                <div class="card">
                    <input type="radio" name="challenge-6-3" value="1" id="challenge-6-3-asana-1" challengeId="6" asanaId="3" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/20.png" />
                        </div>
                        <p class="range">Menos de 20 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-6-3" value="2" id="challenge-6-3-asana-2" challengeId="6" asanaId="3" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/20.png" />
                        </div>
                        <p class="range">Entre 20 - 60 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-6-3" value="3" id="challenge-6-3-asana-3" challengeId="6" asanaId="3" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/20.png" />
                        </div>
                        <p class="range">Más de 60 seg de permanencia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 4 -->
    <div class="wrapper" challengeId="6" asanaId="4">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">ELASTICIDAD BRAZO DERECHO</h4>
                <div class="card">
                    <input type="radio" name="challenge-6-4" value="1" id="challenge-6-4-asana-1" challengeId="6" asanaId="4" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/17.png" />
                        </div>
                        <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-6-4" value="2" id="challenge-6-4-asana-2" challengeId="6" asanaId="4" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/17_2.png" />
                        </div>
                        <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-6-4" value="3" id="challenge-6-4-asana-3" challengeId="6" asanaId="4" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/17_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 5 -->
    <div class="wrapper" challengeId="6" asanaId="5">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">ELASTICIDAD BRAZO IZQUIERDO</h4>
                <div class="card">
                    <input type="radio" name="challenge-6-5" value="1" id="challenge-6-5-asana-1" challengeId="6" asanaId="5" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/11.png" />
                        </div>
                        <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-6-5" value="2" id="challenge-6-5-asana-2" challengeId="6" asanaId="5" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/11_2.png" />
                        </div>
                        <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-6-5" value="3" id="challenge-6-5-asana-3" challengeId="6" asanaId="5" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/11_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script src="https://api.yogabot.app/js/main_challenge.js"></script>