<link rel="stylesheet" href="https://api.yogabot.app/css/updated_styles.css">
<div id="form-body" class="autoHeight">
    <!-- BLOQUE 1 -->
    <div class="wrapper" challengeId="3" asanaId="1">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">ELASTICIDAD</h4>
                <div class="card">
                    <input type="radio" name="challenge-3-1" id="challenge-3-1-asana-1" value="1" challengeId="3" asanaId="1" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/6.png" />
                        </div>
                        <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-3-1" id="challenge-3-1-asana-2" value="2" challengeId="3" asanaId="1" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/6_2.png" />
                        </div>
                        <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-3-1" id="challenge-3-1-asana-3" value="3" challengeId="3" asanaId="1" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/6_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 2 -->
    <div class="wrapper" challengeId="3" asanaId="2">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">TONO</h4>
                <div class="card">
                    <input type="radio" name="challenge-3-2" id="challenge-3-2-asana-1" value="1" challengeId="3" asanaId="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/34.png" />
                        </div>
                        <p class="range">Menos de 30 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-3-2" id="challenge-3-2-asana-2" value="2" challengeId="3" asanaId="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/34.png" />
                        </div>
                        <p class="range">Entre 30 - 70 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-3-2" id="challenge-3-2-asana-3" value="3" challengeId="3" asanaId="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/34.png" />
                        </div>
                        <p class="range">Más de 70 seg de permanencia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 3 -->
    <div class="wrapper" challengeId="3" asanaId="3">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">TONO</h4>
                <div class="card">
                    <input type="radio" name="challenge-3-3" id="challenge-3-3-asana-1" value="1" challengeId="3" asanaId="3" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/33.png" />
                        </div>
                        <p class="range">Menos de 30 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-3-3" id="challenge-3-3-asana-2" value="2" challengeId="3" asanaId="3" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/33.png" />
                        </div>
                        <p class="range">Entre 30 - 70 seg de permanencia</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-3-3" id="challenge-3-3-asana-3" value="3" challengeId="3" asanaId="3" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/33.png" />
                        </div>
                        <p class="range">Más de 70 seg de permanencia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOQUE 4 -->
    <div class="wrapper" challengeId="3" asanaId="4">
        <div class="section flexible">
            <div class="cards">
                <h4 class="title">ELASTICIDAD</h4>
                <div class="card">
                    <input type="radio" name="challenge-3-4" id="challenge-3-4-asana-1" value="1" challengeId="3" asanaId="4" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/7.png" />
                        </div>
                        <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-3-4" id="challenge-3-4-asana-2" value="2" challengeId="3" asanaId="4" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/7_2.png" />
                        </div>
                        <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="challenge-3-4" id="challenge-3-4-asana-3" value="3" challengeId="3" asanaId="4" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/7_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://api.yogabot.app/js/main_challenge.js"></script>