<script>
    var vimeoVideoId = '';
    var videoTitle = '';
    var emailUsuarioLogueado;

    obtainEmail();

    var userData = {
        "url": "https://api.yogabot.app/api/autodiagnostico/reducido/lateralizacion/findLastByEmailAlumno/" + emailUsuarioLogueado,
        "method": "GET",
        "timeout": 0
    };
        
    $.ajax(userData).done(function (response) {

        if ((response.lateralizacionIzquierda - response.lateralizacionDerecha) > 0) {

            vimeoVideoId = '342096548';
            videoTitle = 'https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/pdf_img/lateralizacionDerecha.jpg';

        } else if ((response.lateralizacionIzquierda - response.lateralizacionDerecha) < 0) {

            vimeoVideoId = '340248669';
            videoTitle = 'https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/pdf_img/lateralizacionIzquierda.jpg';

        } else {

            vimeoVideoId = '342092484';
            videoTitle = 'https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/pdf_img/lateralizacionEquilibrio.jpg';

        }

        document.getElementById('vimeoVideo').innerHTML = '<iframe src="https://player.vimeo.com/video/' + vimeoVideoId + '?color=E0684B&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js">';
        document.getElementById('vimeoTitle').innerHTML = '<img src="' + videoTitle + '" style="width: 100%;max-width: 464px;">';
        
    });
        
    function obtainEmail() {

        function countElements(elements) {

            return elements.length;

        }

        function getElementByTag(nameTag) {

            return document.getElementsByTagName(nameTag);

        }

        function isElementContainAttributeName(element,nameAttribute) {

            var numAttribute = element.attributes.length;
            for (x = 0; x < numAttribute; x++) {

                if(element.attributes[x].name == nameAttribute) {

                    return true;

                }

            }
            return false;

        }

        var arrayTagMetaElements = getElementByTag("meta");
        var countAllMetaTags = countElements(arrayTagMetaElements);
        
        for (i = 0; i < countAllMetaTags; i++) {

            var currentElement = arrayTagMetaElements[i];
            if(isElementContainAttributeName(currentElement,"data-email")) {

                emailUsuarioLogueado=currentElement.getAttribute("data-email");

            }
            if (isElementContainAttributeName(currentElement,"data-email")) {

                break;

            }

        }

    }
</script>
<div class="lecture-attachment lecture-attachment-type-text" id="lecture-attachment-27037517">
    <div class="lecture-text-container">
        <p></p>
        <p class="ql-align-center" id="vimeoTitle"></p>
    </div>
</div>
<div style="padding:56.25% 0 0 0;position:relative;" id="vimeoVideo"></div>