<link rel="stylesheet" href="https://api.yogabot.app/css/style.css">
<script src="https://api.yogabot.app/js/main.js"></script>
<div id="form-body">
    <div class="wrapper" id="wrapper" endpoint="reducido/trenmuscular" type="reducido">
        <div class="section">
            <h2 class="title">3 LUCIDEZ Y RENDIMIENTO CEREBRAL</h2>
            <div class="cards">
                <h3 class="title">TREN MUSCULAR INFERIOR</h3>
                <div class="card">
                    <input type="radio" name="trenMuscularInferior" id="trenMuscularInferior-1" value="1" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/14.png" />
                        </div>
                    <p class="range">< 30 seg</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="trenMuscularInferior" id="trenMuscularInferior-2" value="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/14.png" />
                        </div>
                        <p class="range">30seg - 1min 20seg</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="trenMuscularInferior" id="trenMuscularInferior-3" value="3" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/14.png" />
                        </div>
                        <p class="range">>1min 20seg</p>
                    </div>
                </div>
            </div>
            <div class="cards">
                <h3 class="title">TREN MUSCULAR SUPERIOR</h3>
                <div class="card">
                    <input type="radio" name="trenMuscularSuperior" id="trenMuscularSuperior-1" value="1" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/15.png" />
                        </div>
                        <p class="range"> <20seg </p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="trenMuscularSuperior" id="trenMuscularSuperior-2" value="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/15.png" />
                        </div>
                        <p class="range">20seg - 1min</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="trenMuscularSuperior" id="trenMuscularSuperior-3" value="3" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/15.png" />
                        </div>
                        <p class="range"> > 1min</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="difference">
            <h2>Diferencia de rango Superior-Inferior: <span id="result"></span></h2>
            <p><span id="resultText"></span></p>
        </div>
    </div>
</div>