<link rel="stylesheet" href="https://api.yogabot.app/css/style.css">
<script src="https://api.yogabot.app/js/main.js"></script>
<div id="form-body">
    <div class="wrapper" id="wrapper" endpoint="reducido/lateralizacion" type="reducido">
        <div class="section">
            <h2 class="title">2 POTENCIACIÓN Y RENDIMIENTO DEL SISTEMA FISIOLÓGICO</h2>
            <div class="cards">
                <h3 class="title">LATERIZACIÓN IZQUIERDA</h3>
                <div class="card">
                    <input type="radio" name="lateralizacionIzquierda" id="lateralizacionIzquierda-1"  value="1" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/9.png" />
                        </div>
                    <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="lateralizacionIzquierda" id="lateralizacionIzquierda-2" value="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/9_2.png" />
                        </div>
                    <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="lateralizacionIzquierda" id="lateralizacionIzquierda-3" value="3" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/9_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
            <div class="cards">
                <h3 class="title">LATERIZACIÓN DERECHA</h3>
                <div class="card">
                    <input type="radio" name="lateralizacionDerecha" id="lateralizacionDerecha-1" value="1" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/12.png" />
                        </div>
                        <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="lateralizacionDerecha" id="lateralizacionDerecha-2" value="2" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/12_2.png" />
                        </div>
                        <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="lateralizacionDerecha" id="lateralizacionDerecha-3" value="3" />
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/12_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="difference">
            <h2>Diferencia de rango Izquierda-Derecha: <span id="result"></span></h2>
            <p><span id="resultText"></span></p>
        </div>
    </div>
</div>