<script>
    var pdfUrl = '';
    var emailUsuarioLogueado;
  
    obtainEmail2();
  
    var userData = {
        "url": "https://api.yogabot.app/api/autodiagnostico/reducido/flexoextension/findLastByEmailAlumno/" + emailUsuarioLogueado,
        "method": "GET",
        "timeout": 0
    };
      
    $.ajax(userData).done(function (response) {
  
        if ((response.extension - response.flexion) > 0) {

            pdfUrl = 'https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/pdf_rutinas_mc/Secuencia_1.pdf';

        } else if ((response.extension - response.flexion) < 0) {

            pdfUrl = 'https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/pdf_rutinas_mc/Secuencia_2.pdf';

        } else {

            pdfUrl = 'https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/pdf_rutinas_mc/Secuencia_3.pdf';

        }
    
        document.getElementById('embedPDF').innerHTML = '<embed src="' + pdfUrl + '" type="application/pdf" width="100%" height="600px" />'
  
    });
        
    function obtainEmail2() {
  
        function countElements(elements) {

            return elements.length;

        }
    
        function getElementByTag(nameTag) {

            return document.getElementsByTagName(nameTag);

        }
    
        function isElementContainAttributeName(element, nameAttribute) {

            var numAttribute = element.attributes.length;
            for (x = 0; x < numAttribute; x++) {

                if(element.attributes[x].name == nameAttribute) {

                    return true;

                }

            }
            return false;

        }
    
        var arrayTagMetaElements = getElementByTag("meta");
        var countAllMetaTags = countElements(arrayTagMetaElements);
        
        for (i = 0; i < countAllMetaTags; i++) {

            var currentElement = arrayTagMetaElements[i];
            if(isElementContainAttributeName(currentElement, "data-email")) {

                emailUsuarioLogueado=currentElement.getAttribute("data-email");

            }

            if (isElementContainAttributeName(currentElement, "data-email")) {

                break;

            }

        }

    }

</script>
<div id="embedPDF" width="100%" height="600px"></div>