<link rel="stylesheet" href="https://api.yogabot.app/css/style.css">
<script src="https://api.yogabot.app/js/main.js"></script>
<div id="form-body">
    <div class="wrapper" id="wrapper" endpoint="reducido/flexoextension" type="reducido">
        <div class="section">
            <h2 class="title">1 EQUILIBRIO ERGONÓMICO DE LA COLUMNA</h2>
            <div class="cards">
                <h3 class="title">EXTENSIÓN</h3>
                <div class="card">
                    <input type="radio" name="extension" id="extension-1" value="1"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/6.png" />
                        </div>
                        <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="extension" id="extension-2" value="2"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/6_2.png" />
                        </div>
                        <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="extension" id="extension-3" value="3"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/6_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
            <div class="cards">
                <h3 class="title">FLEXIÓN</h3>
                <div class="card">
                    <input type="radio" name="flexion" id="flexion-1" value="1"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/2.png" />
                        </div>
                        <p class="range">RANGO 1</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="flexion" id="flexion-2" value="2"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/2_2.png" />
                        </div>
                        <p class="range">RANGO 2</p>
                    </div>
                </div>
                <div class="card">
                    <input type="radio" name="flexion" id="flexion-3" value="3"/>
                    <div class="card-content">
                        <div class="img-wrapper">
                            <img src="https://s3-yogabot-app.s3.eu-west-1.amazonaws.com/siluetas_formulario/2_3.png" />
                        </div>
                        <p class="range">RANGO 3</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="difference">
            <h2>Diferencia de rango Extensión-flexión: <span id="result"></span></h2>
            <p><span id="resultText"></span></p>
        </div>
    </div>
</div>