<link rel="stylesheet" href="https://api.yogabot.app/css/slider.css">
<link rel="stylesheet" href="https://api.yogabot.app/css/slick.css">
<link rel="stylesheet" href="https://api.yogabot.app/css/flipclock.css">
<div id="body-slider">
    <div class="wrapper-slider"></div>
    <div class="popup"><a id="startSlider" class="btn" href="javascript:startCounter()">Empezar</a></div>
    <div class="wrapper-timer" id="wrapper-timer" endpoint="reducido/"></div>
    <div class="sliderNavigation">
        <a id="pauseSlider" class="btn" href="javascript:pauseSlider()">pausa</a>
        <a class="btn" href="javascript:stopSlider()">reiniciar</a>
    </div>
    <div class="download-pdf-wrapper">
        <a class="btn" href="javascript:openFile('')">DESCARGAR SECUENCIA</a>
    </div>
</div>
<script src="https://api.yogabot.app/js/slick.min.js"></script>
<script src="https://api.yogabot.app/js/flipclock.min.js"></script>
<script src="https://api.yogabot.app/js/slider.js"></script>